@model IEnumerable<AppAdvogados.Models.Agenda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo Agendamento", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos nada agendado ainda.</p>
}
else
{
   
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Data</th>
                <th>Advogado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agenda in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@agenda.Tarefa, "Edit", new { agenda.Id })</td>
                    <td>@agenda.Data</td>
                    <td>@agenda.Advogado.Nome</td>
                </tr>
            }
        </tbody>
    </table>
}