@model IEnumerable<AppAdvogados.Models.Agenda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agenda</h2>
<p>
    @Html.ActionLink("Novo Agendamento", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos nada agendado ainda.</p>
}
else
{
   
    <table id="agenda" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Data</th>
                <th>Advogado</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agenda in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@agenda.Tarefa, "Edit", new { agenda.Id })</td>
                    <td>@agenda.Data</td>
                    <td>@agenda.Advogado.Nome</td>
                    <td>
                        <button data-agenda-id="@agenda.Id" class="btn-link js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#agenda").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover este cliente?");

                    if (result) {
                        $.ajax({
                            url: "/agenda/delete/" + button.attr("data-agenda-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }

                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}