@model IEnumerable<AppAdvogados.Models.Advogado>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Advogado</h2>
<p>
    @Html.ActionLink("Novo Advogado", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos nenhum advogado cadastrado ainda.</p>
}
else
{
    <table id="advogado" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Advogado</th>
                <th>CPF</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var advogado in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@advogado.Nome, "Edit", new { advogado.Id })</td>
                    <td>@advogado.CPF</td>
                    <td>
                        <button data-advogado-id="@advogado.Id" class="btn-link js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#advogado").on("click",".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover este cliente?");

                    if (result) {
                        $.ajax({
                            url: "/advogado/delete/" + button.attr("data-advogado-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }

                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}