@model IEnumerable<AppAdvogados.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos nenhum cliente ainda.</p>
}
else
{   
    <table id="cliente" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@cliente.Nome, "Edit", new { cliente.Id })</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.Idade</td>
                    <td>
                        <button data-client-id="@cliente.Id" class="btn-link js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#cliente").on("click",".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover este cliente?");
                        
                    if (result) {
                        $.ajax({
                            url: "/cliente/delete/" + button.attr("data-client-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                        
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}
